body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 5px;
  height: 5px;
}
.loader {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid lightgray;
  border-right: 1.1em solid lightgray;
  border-bottom: 1.1em solid lightgray;
  border-left: 1.1em solid #3653D8;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loader-container {
  position: absolute;
  top: 25px;
  left: 25px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* START: card ------------------- */
.Card {
  background-color: white;
}
.Card--small {
  border-radius: 8px;
}
.Card--large {
  border-radius: 45px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.1);
}
/* END: card ------------------- */


/* START: btn primary ------------------- */
.BtnPrimary {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: #3653D8;
}
.BtnPrimary:hover {
  background-color: #273C9C;
}
.BtnPrimary--small {
  padding: 10px 34px;
  font-size: 14px;
}
.BtnPrimary--large {
  padding: 16px;
  font-size: 16px;
}
/* END: btn primary ------------------- */


/* START: form login ------------------- */
.FormLogin {
  position: relative;
  max-width: 295px;
  padding: 0 80px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.FormLogin_Title {
  margin: 50px 0 40px;
  font-size: 32px;
  font-weight: normal;
  text-align: center;
  color: #434343;
}
.FormLogin-InputContainer {
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 1px 10px 34px -11px rgb(0 0 0 / 0.20);
}
.FormLogin_Input {
  padding: 14px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.FormLogin_Input input {
  flex-grow: 1;
  outline: none;
  border: none;
}
.FormLogin_Input--user {
  border-bottom: solid 1px lightgray;
}
.FormLogin_Btn {
  margin: 43px 0 80px;
}
/* END: form login ------------------- */



.FullPage {
  width: 100vw;
  height: 100vh;
  background-color: lightgray;
}


/* START: login page ------------------- */
.LoginPage {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-image: url(./imgs/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.LoginPage-Title {
  font-weight: normal;
  color: white;
}
.LoginPage-Text {
  color: white;
}
.LoginPage-Caption {
  position: fixed;
  bottom: 15px;
  text-align: center;
  color: white;
}
/* END: login page ------------------- */


/* START: dashboard page ------------------- */
.DashboardPage {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    "🍎 🍊"
    "🍎 🍉"
    "🍎 🍐";
}
.DashboardPage--sidebar {
  grid-area: 🍎;
}
.DashboardPage--header {
  grid-area: 🍊;
}
.DashboardPage--content {
  grid-area: 🍉;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1r;
  gap: 20px;
}
.DashboardPage--footer {
  grid-area: 🍐;
}
/* END: dashboard page ------------------- */


/* START: header ------------------- */
.Header {
  padding: 30px 35px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  background-color: white;
}
.Header-Side--left, .Header-Side--right {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.Header-Title {
  margin: 0;
  color: #2644A7;
}
/* END: header ------------------- */


/* START: footer ------------------- */
.Footer {
  padding: 20px 35px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
}
.Footer-Text {
  color: darkgray;
}
/* END: footer ------------------- */


/* START: form ------------------- */
.Form--filter {
  padding: 15px 25px;
}
.Form-Title--filter {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Form-TitleText {
  font-weight: normal;
  color: #2644A7;
}
.Form-BtnsContainer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Form-BtnsContainer--full > * {
  flex-grow: 1;
  background-color: #2644A7;
}
.Form-BtnsContainer--full > *:first-child {
  margin-right: 10px;
}
/* END: form ------------------- */


/* START: input ------------------- */
.Input {
  min-width: 280px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.Input-Label {
  margin-bottom: 4px;
  color: darkgray;
}
.Input-Control {
  box-sizing: border-box;
  width: 100%;
  outline: none;
  border: solid 1px darkgray;
  border-radius: 4px;
  padding: 10px;
}
/* END: input ------------------- */


/* START: btn secundary ------------------- */
.BtnSecundary {
  padding: 10px 34px;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 4px;
}
/* END: btn secundary ------------------- */

.BtnSecundary--fill {
  color: white;
  background: rgb(152,193,90);
  background: linear-gradient(90deg, rgba(152,193,90,1) 0%, rgba(96,144,24,1) 100%);
}
.BtnSecundary--outline {
  border: solid 1px #609018;
  color: #609018;
  background-color: white;
}

/* .BtnPrimary--small {
  padding: 10px 34px;
  font-size: 14px;
}
.BtnPrimary--large {
  padding: 16px;
  font-size: 16px;
} */

/* START: users table ------------------- */
.UsersTable_Header {
  padding: 10px 35px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.UsersTable_Side--left {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.UsersTable_Title {
  font-weight: normal;
  color: #2644A7;
}
/* END: users table ------------------- */


/* START: table ------------------- */
.Table {
  padding: 10px 35px;
  width: 100%;
}
.Table_Heading td {
  padding: 10px;
  text-align: center;
  color: #434343;
  border-bottom: solid 2px gray;
}
.Table_Body td {
  padding: 15px 10px;
  text-align: center;
  color: gray;
  border-bottom: solid 1px lightgray;
}
.Table_Heading td:first-child {
  text-align: left;
}
.Table_Heading td:last-child {
  text-align: right;
}
.Table_Body td:first-child {
  text-align: left;
}
.Table_Body td:last-child {
  text-align: right;
}
/* END: table ------------------- */


/* START: sidebar ------------------- */
.Sidebar {
  overflow: hidden;
  width: 282px;
  height: 100vh;
  background: rgb(96,171,234);
  background: linear-gradient(180deg, rgba(96,171,234,1) 0%, rgba(38,68,167,1) 100%);
  transition: width 250ms;
}
.Sidebar_Header {
  padding: 10px 0;
  border-bottom: solid 1px white;
}
.Sidebar--collapse {
  width: 82px;
}
/* END: sidebar ------------------- */


.SidebarItem {
  cursor: pointer;
  padding: 10px 25px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.SidebarItem:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.SidebarItem_Text {
  font-weight: normal;
  color: white;
  white-space: nowrap;
}